*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;

    & i{
        cursor: pointer;
    }

}
body{
    width: 100% !important;
    height: 100%!important;
}

::-webkit-scrollbar {
    width: 0px;
    /* overflow: hidden; */
  }


@media (width<=415px){
   /* #main{
    position: relative;
   
    } */

   
   
/* -----------------------profile--------------------------- */
.profile-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(57, 57, 57, 0.777); */
     background-color: #00246B;
    z-index: 9;
    display: none;
    /* top: -100%; */

}
.profile-container.active{
    display: block;
    /* display: none; */
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;

   
 } 




/* --------------profile end------------------------------- */

/* ---------loader--------------- */
#loader{
    height: 100vh;
    background-color: #00246B; 
   width: 100%;
   position: fixed;
   z-index: 9999;
   transition: all linear 0.5s;
   /* top:0; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 

   .loader-containt{
            width: 200px;
            height: 100px;
            align-items: center;
            display: flex;
            /* background-color: aqua; */
            overflow: hidden;


            svg{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h1{
                font-size: 25px;
                color: #fff;
            }
   }
    
 }

/* ---------loader-end-------------- */

    #home-top{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
     width: 100vw;
    height: 140px;
    /* background-color: rgba(76,76,76, 0.915);  */
    background-color: #00246B;
    border-radius: 0 0 20px 20px; 
    z-index: 1;
}
.home-top-up{
    width: 100%;
    height: 25px;
    /* background-color: aqua; */
}
.home-top-mid{
    padding: 2px 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    /* background-color: rgb(195, 0, 255); */
    /* background-color: rgb(51, 210, 12); */
}
/* .home-top-mid-lft{
    width: 30px;
    height: 30px;
    background-color: red;

     &.home-top-mid-lft i{
        font-size: 33px;
        color: #fff;
        
    } 
   
} */


.home-top-mid-middle{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80px; */
    height: 30px;
    /* background-color: rgb(0, 68, 255); */

   
    h3{
        font-size: 15px;
        color: #fff;
    }
    h3::first-letter{
        font-size:20px;
        
        
    }
}
.home-top-mid-rgt{
    width: 30px;
    height: 30px;
    /* background-color: rgb(255, 153, 0); */

   &.home-top-mid-rgt i{
        font-size: 30px;
        color: #fff;
      
    }
}
.home-up-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    /* background-color: red; */
}
  
.home-up-bottom-inner{
    display: flex;
    width: 94%;
    height: 75%;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);

    .search-box{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        width: 80%;
        height: 100%;
        /* background-color: red; */
        border-radius: 50px 0 0 50px;

        & i{
            font-size: 23px;
            padding: 15px 0 12px 15px;
            color: #00246B;
            font-weight: 500;
        }

        & input{
            border: none;
            outline: none;
            padding: 5px 0 5px 6px;
            background-color: transparent;
            color:#000000;
            font-weight: 600;
        }
       

    }
    .camera-box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        /* background-color: rgb(0, 255, 162); */
        border-radius: 0 50px 50px 0;

        & i{
            font-size: 23px;
            color: #00246B;
            font-weight: 500;
        }
    }
}

.content{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    /* background-color: blueviolet; */

  

    
}


.content-inner{
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    top:140px;
    /* bottom: 80px; */
    /* height: 200%; */
    padding: 10px;
    /* background-color: rgba(149, 0, 255, 0.263); */


    & .slider-image{
        width: 100%;
        height: 160px;
        border-radius: 5px;
        background-color: rgb(254, 140, 0);
        
        overflow: hidden;
           
}

.content-slider{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: rgba(255, 77, 0, 0.422); */
    box-shadow: 0 0 3px 2px #00000024;
    /* overflow: scroll; */

}
.content-slider-inner{
    width: 100%;
    height: 50%;
    /* border-radius: 5px; */
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    
   /* background-color: red; */
   /* border-top-left-radius: 5px; */


    & a{
        color: #000000;
        text-decoration: none;
    }
}
.content-slider-inner2{
    width: 100%;
    height: 50%;
    /* border-radius: 5px; */
    align-items: center;
    display: flex;
   
    /* background-color: green; */
    justify-content:space-evenly;


    & a{
        color: #000000;
        text-decoration: none;
        
    }
}

.content-slider-inner-part{
        width: 50px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: #02318e; */
        cursor: pointer;
}
.content-slider-inner-part-image{
    width: 100%;
    height:50px;
    /* background-color: aqua; */

    
}
.content-slider-inner-part-image img{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-fit:cover;
}
.content-slider-inner-part-details{
    /* width: 100%; */
    height:20px;
    font-size: 15px;
    text-align: center;
    font-size: 13px;
    /* margin-top: 3px; */
    /* background-color: rgb(29, 147, 0); */
}





     @media (width=320px){
        .card {
           
            width: 120px;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
          }
        } 
         @media (width<320px){
            .card {
               
                width: 100%;
                border-radius: 5px;
                padding: 10px;
                text-align: center;
              }
            } 
      
      
.galary-content{
    width: 100%;
    /* height: 100vh; */
    /* background: aqua; */
    position: relative;
    
}
    
}
.gallery {
    width: 100%;
   padding: 20px;

    /* height: 200px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    gap: 8px;
  }
  .card {
    cursor: pointer;
    /* border: 1px solid #cf1717; */
    width: 110px;
    /* background-color: rgba(198, 198, 198, 0.489); */
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.151);

    border-radius: 5px;
    padding: 10px;
    /* width: 200px; */
    text-align: center;
  }
  /* .gallery:hover>:not(:hover){
        filter: blur(3px);
        opacity: 0.9;
  } */
  .card img {
    max-width: 100%;
    border-radius: 5px;
  }
  .card h4 {
    margin: 10px 0 5px;
  }
  .card p {
    font-size: 14px;
    color: #555;
  }


























.taskbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  width: 100%;
  z-index: 9;
  height:80px;
  border-radius: 20px 20px 0 0;
  /* background-color: rgba(76, 76, 76, 0.915);  */
  /* background-color: #9DB0EC; */
  background-color: #02318e;

  & #tskbr-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        overflow: hidden;
        /* background-color: blue; */

        & i{
            color: rgb(255, 255, 255);
            font-size: 23px;
        }
        & h5{
            color: #fff;
            font-size: 13px;
           
            font-weight: 200;
            cursor: pointer;
        }
  }
}












}



